rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read: allow true;  // Anyone can read projects
      allow write: allow true; // Anyone can write projects for now
    }
  }
}
